@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hide-details-marker {
    @apply list-none;
  }

  .hide-details-marker::-webkit-details-marker {
    display: none;
  }
}

#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  margin-bottom: 70px;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dropShadown,
.dropShadownBanner {
  filter: drop-shadow(0px 0px 2px #222);
}
.dropShadown:hover {
  filter: drop-shadow(0px 0px 5px #222);
}

h1.wp-block-heading {
  font-size: 38px;
  font-weight: 600;
}
h2.wp-block-heading {
  font-size: 30px;
  font-weight: 500;
}

h6.wp-block-heading {
  font-size: 22px;
}

p {
  margin: 15px 0px;
}

strong.schema-faq-question {
  font-size: 24px;
}
figure.wp-block-image {
  margin: 25px 0;
  margin-bottom: 35px;
}

section#register_ label {
  color: #666 !important;
}

.text-outline {
  position: relative;
  display: inline-block;
  color: #6b1814; /* Cor de fundo das letras */
  font-weight: bold;
}

.text-outline::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  color: white; /* Cor do contorno */
  -webkit-text-stroke: 2px white; /* Espessura do contorno */
  -webkit-text-fill-color: transparent; /* Torna o texto transparente */
}

.borda_texto {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  font-size: 3em;
  color: #fffdd9;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}
