:root {
    --header-background: #fff;
    --header-fontcolor: #000;
    --black: #000;
    --white: #fff;
    --blue: #22326E;
    --gray: #353535;
    --red: #C12025;
    --blue-light:#CCC5F080;


   
   }