:root {
    --header-background: #fff;
    --header-fontcolor: #000;
    --black: #000;
    --white: #fff;
    --blue: #22326E;
    --gray: #353535;
    --red: #C12025;
    --blue-light:#CCC5F080;

    /* --blue:#563ECC;
    --yellow-primary: #FFBB22;
    --violeta:#FF2272;
    --yellow-primary-light: #FEEAC4;
    --violeta-light:#FF227226;
    --gray: #ECECEC;
    --black: #000;
    --white: #fff;
   
   
    --green:#56E8E4;
    --yellow-secondary: #E0EA1B;
    --orange:#FC6600;
    --green-light: #56E8E440;
    --yellow-secondary-light: #E0EA1B40;
    --orange-light:#FC660040; */

   
   }